In [ ]:
# default_exp utils.pandas_hacks

In [ ]:
#export
from pvtools.imports import *

# Pandas functions and hacks
> Useful methods to manipulate pandas Dataframes and Timeseries data

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
DATAPATH = Path.cwd().parent/'data'
DATAPATH.ls()

(#2) [Path('/home/tc256760/Documents/pvtools/data/pvgis_tmy_chambery.csv'),Path('/home/tc256760/Documents/pvtools/data/sample_data.hdf')]

In [ ]:
df = pd.read_hdf(DATAPATH/'sample_data.hdf')

In [ ]:
df.head()

,ghi,dni,dhi,temp_air,wind_speed,wind_dir,pressure,humidity,zenith,elevation,azimuth
Date UTC,,,,,,,,,,,
2019-01-01 00:00:00,-0.83,0.0,-0.83,4.39,1.87,230.1,1004.92,86.8,157.029,-67.029,12.054
2019-01-01 01:00:00,-0.93,0.0,-0.83,4.33,2.87,228.9,1004.94,86.8,152.143,-62.143,42.533
2019-01-01 02:00:00,-0.83,0.0,-0.83,4.29,2.86,229.4,1004.68,86.7,143.742,-53.742,63.390
2019-01-01 03:00:00,-0.83,0.0,-0.83,4.15,2.04,186.0,1003.99,85.7,133.848,-43.848,78.092
2019-01-01 04:00:00,-0.72,0.0,-0.83,3.85,1.91,200.9,1003.76,87.5,123.435,-33.435,89.729

## Reindexing

In [ ]:
#export
def group_monthly(df: Union[DataFrame, Series], year=2019):
    "Group DataFrame on a monthly basis"
    return (df.groupby([lambda x: x.year, lambda x: x.month]).sum()).loc[year,:]

In [ ]:
df_monthly = group_monthly(df)
df_monthly

,ghi,dni,dhi,temp_air,wind_speed,wind_dir,pressure,humidity,zenith,elevation,azimuth
1,34917.68,38239.26,12362.45,2069.29,1435.01,108055.89,736835.33,60544.44,79732.782,-12772.782,131029.549
2,72346.55,110533.67,22688.93,3239.50,1006.93,113466.64,669755.92,54066.06,67642.433,-7162.433,117597.593
3,115350.27,130062.69,43622.62,6729.26,1553.95,118829.39,732658.25,52248.47,68057.082,-1097.082,131159.018
4,137613.23,107280.93,66850.14,8610.21,1226.82,105979.29,708537.10,48822.63,58880.338,5919.662,128427.217
5,168002.63,145783.34,67029.82,10545.47,1512.52,95941.20,734502.29,52783.08,55272.283,11687.717,133343.261
6,200651.15,189675.04,64093.70,15505.47,1005.39,115577.22,710011.12,49718.50,51032.201,13767.799,128327.716
7,-262096.18,-275386.74,-497539.29,-483270.44,-498833.10,-408692.31,702204.35,42311.47,53908.436,13051.564,131633.760
8,173493.05,170336.12,49653.17,16449.18,1072.49,114600.98,736532.79,51431.98,58512.905,8447.095,131940.733
9,123016.56,126421.37,49262.50,13177.18,1134.01,109943.21,714218.45,52099.68,63110.219,1689.781,129277.765
10,73931.99,78220.40,36173.01,10583.85,1985.31,121106.32,736211.77,64640.29,72440.125,-5480.125,135280.568
11,35404.90,31525.58,23117.04,5482.12,1092.13,134346.88,705604.83,65695.18,75822.599,-11022.599,131079.523
12,24968.79,32395.43,14600.06,4540.22,15331.70,-10807.86,736583.13,65735.71,81132.902,-14172.902,133528.735

In [ ]:
#export
def reindex_monthly_en(data):
    "Rename index to months"
    index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug','Sep', 'Oct', 'Nov', 'Dec']
    if isinstance(data, pd.DataFrame):
        return pd.DataFrame(data.values, index=index, columns=data.columns )
    if isinstance(data, pd.Series):
        return pd.Series(data.values, index=index, name=data.name)

In [ ]:
reindex_monthly_en(df_monthly)

,ghi,dni,dhi,temp_air,wind_speed,wind_dir,pressure,humidity,zenith,elevation,azimuth
Jan,34917.68,38239.26,12362.45,2069.29,1435.01,108055.89,736835.33,60544.44,79732.782,-12772.782,131029.549
Feb,72346.55,110533.67,22688.93,3239.50,1006.93,113466.64,669755.92,54066.06,67642.433,-7162.433,117597.593
Mar,115350.27,130062.69,43622.62,6729.26,1553.95,118829.39,732658.25,52248.47,68057.082,-1097.082,131159.018
Apr,137613.23,107280.93,66850.14,8610.21,1226.82,105979.29,708537.10,48822.63,58880.338,5919.662,128427.217
May,168002.63,145783.34,67029.82,10545.47,1512.52,95941.20,734502.29,52783.08,55272.283,11687.717,133343.261
Jun,200651.15,189675.04,64093.70,15505.47,1005.39,115577.22,710011.12,49718.50,51032.201,13767.799,128327.716
Jul,-262096.18,-275386.74,-497539.29,-483270.44,-498833.10,-408692.31,702204.35,42311.47,53908.436,13051.564,131633.760
Aug,173493.05,170336.12,49653.17,16449.18,1072.49,114600.98,736532.79,51431.98,58512.905,8447.095,131940.733
Sep,123016.56,126421.37,49262.50,13177.18,1134.01,109943.21,714218.45,52099.68,63110.219,1689.781,129277.765
Oct,73931.99,78220.40,36173.01,10583.85,1985.31,121106.32,736211.77,64640.29,72440.125,-5480.125,135280.568
Nov,35404.90,31525.58,23117.04,5482.12,1092.13,134346.88,705604.83,65695.18,75822.599,-11022.599,131079.523
Dec,24968.79,32395.43,14600.06,4540.22,15331.70,-10807.86,736583.13,65735.71,81132.902,-14172.902,133528.735

In [ ]:
#export
def monthly(data, year=2019):
    "Group and reindex a DataFrame or Series monthly"
    return reindex_monthly_en(group_monthly(data, year))

## Scaling functions
We regularly need to scale data, these are basic fucntions that I use all the time (for plotting different quantities together for instance)

In [ ]:
#export
def _normalize(df: Union[Series, DataFrame], per_column:bool=False):
    "Scales dataframe to have mean 0 and std 1"
    return (df-df.stack().mean())/df.stack().std() if per_column else (df-df.mean())/df.std()

def _min_max(df: Union[Series, DataFrame], per_column:bool=False):
    "Scales dataframe between 0 and 1"
    return (df-df.stack().min())/(df.stack().max()-df.stack().min()) if per_column else (df-df.min())/(df.max()-df.min())

We can now `patch` this methods to the `pd.DataFrame` class

In [ ]:
#export
@patch
def normalize(self:DataFrame): return _normalize(self)
@patch
def normalize(self:Series): return _normalize(self)
@patch
def min_max(self:DataFrame): return _min_max(self)
@patch
def min_max(self:Series): return _min_max(self)

some quick tests

In [ ]:
import string
abc = string.ascii_lowercase
def create_random_df(size: tuple=(10,2)): return DataFrame(np.random.random(size), columns=list(abc[0:size[1]]))
df = create_random_df()
test_close(df.normalize().mean(), 0)
test_close(df.normalize().std(), 1)
test_close(df.min_max().min(), 0)
test_close(df.min_max().max(), 1)

A more elegant way of doing `slice(None)`

In [ ]:
#export
All = slice(None)

In [ ]:
#export
def _flatten_cols(df, to_str=True):
    "Flattens the columns MultiIndex"
    df = df.copy()
    flat_cols = df.columns.to_flat_index()
    if to_str:
        df.columns = ['_'.join(c) for c in flat_cols]
    else:
        df.columns = flat_cols
    return df

In [ ]:
#export
@patch
def flatten_cols(self:DataFrame, to_str=True): return _flatten_cols(self, to_str)

In [ ]:
df = DataFrame(data= [[4.0, 5.0], [7.0, 7.5]], columns=pd.MultiIndex.from_tuples([('a', '1'), ('b', '2')]))

In [ ]:
test_eq(df.flatten_cols().columns, ['a_1', 'b_2'])

## Profiling memory usage of large `DataFrames`
When reading data from `.csv` files, often we need to cast variables to the correct type (you rarely need 64 bit variables). This handy methods give you the memory usage and a quick reduce to cast down variables on the `DataFrame`.

In [ ]:
#export
def mem_usage(pandas_obj: Union[DataFrame, Series]):
    "Detailed Memory usage of pandas object"
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return f"{usage_mb:03.2f} MB"

def reduce_mem_usage(df: DataFrame, downcast=np.float32, tol:float=1e-7):
    "Downcast float64 to float32 variables on df"
    df_float = df.select_dtypes(include=['float'])
    optimized_df = df.copy()
    optimized_df[df_float.columns] = df_float.astype(dtype=downcast)
    bad_cols = list(df.columns[(optimized_df-df).abs().mean()>tol])
    if len(bad_cols)>0:
        optimized_df.loc[All, bad_cols] = df.loc[All, bad_cols]
        print(f'Columns {bad_cols} where not replaced due to prec. loss')    
    return optimized_df

 Casting down to `np.float32`

In [ ]:
df = create_random_df((1000,20))
small_df = reduce_mem_usage(df)
print(f'before: {mem_usage(df)}, after: {mem_usage(small_df)}')

before: 0.15 MB, after: 0.08 MB

In [ ]:
test_eq(reduce_mem_usage(df, np.float16), df) # It should pass
test_eq(reduce_mem_usage(df, np.float32), df)

Columns ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't'] where not replaced due to prec. loss

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
a    1000 non-null float64
b    1000 non-null float64
c    1000 non-null float64
d    1000 non-null float64
e    1000 non-null float64
f    1000 non-null float64
g    1000 non-null float64
h    1000 non-null float64
i    1000 non-null float64
j    1000 non-null float64
k    1000 non-null float64
l    1000 non-null float64
m    1000 non-null float64
n    1000 non-null float64
o    1000 non-null float64
p    1000 non-null float64
q    1000 non-null float64
r    1000 non-null float64
s    1000 non-null float64
t    1000 non-null float64
dtypes: float64(20)
memory usage: 156.3 KB

In [ ]:
small_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
a    1000 non-null float32
b    1000 non-null float32
c    1000 non-null float32
d    1000 non-null float32
e    1000 non-null float32
f    1000 non-null float32
g    1000 non-null float32
h    1000 non-null float32
i    1000 non-null float32
j    1000 non-null float32
k    1000 non-null float32
l    1000 non-null float32
m    1000 non-null float32
n    1000 non-null float32
o    1000 non-null float32
p    1000 non-null float32
q    1000 non-null float32
r    1000 non-null float32
s    1000 non-null float32
t    1000 non-null float32
dtypes: float32(20)
memory usage: 78.2 KB

# Exports -

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script()

Converted 00_utils.core.ipynb.
Converted 01_utils.pandas_hacks.ipynb.
Converted 03_utils.matlab_io.ipynb.
Converted 03_utils.tmy.ipynb.
Converted 04_utils.missing.ipynb.
Converted 05_utils.plot.ipynb.
Converted 06_modelling.mybifacialvf.ipynb.
Converted 07_modelling.mypvfactors.ipynb.
Converted index.ipynb.